@{
    ViewData["Title"] = "O nas";
}

<h1>O nas</h1>

<div class="row">
    <div class="col-md-6">
        <h3>Kontakt</h3>
        <p><strong>Telefon:</strong> +48 123 456 789</p>
        <p><strong>Email:</strong> kontakt@hairsalona.pl</p>

        <h3>Adres</h3>
        <p>Salon Fryzjerski</p>
        <p>ul. Przykładowa 10</p>
        <p>00-000 Poznań</p>
    </div>
    <div class="col-md-6">
        <h3>Nasza lokalizacja</h3>
        <div style="width: 100%; height: 400px;">
            <iframe width="100%" class="rounded"
                    height="100%"
                    frameborder="0"
                    style="border:0;"
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2564.883855479569!2d21.012228415719264!3d52.22967597975779!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x471ecc669f9d82a1%3A0x6452f69bd32f7c6c!2sPoznan%2C%20Polska!5e0!3m2!1spl!2spl!4v1234567890"
                    allowfullscreen>
            </iframe>
        </div>

    </div>
</div>
